
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <%- include('../partials/mathjax'); %>
    <%- extraHeadersHtml %>
  </head>
  <body style="overflow-y: hidden;">
    <div id="question-wrapper">
      <div class="card-body">
        <%- questionHtml %>
      </div>
    </div>
    <script>
      const resizeObserver = new ResizeObserver(function (entries) {
        const height = entries[0].contentRect.height;
        console.log('resized');
        window.parent.postMessage({
          type: 'resize',
          id: 'question-iframe',
          height: height,
        }, '*');
      });
      resizeObserver.observe(document.querySelector('#question-wrapper'));

      window.addEventListener('message', (event) => {
        if (event.data.type === 'serialize_inputs') {
          const serializedInputs = [];
          // TODO: are there more input types to worry about?
          document.querySelectorAll(
            '#question-wrapper input, #question-wrapper textarea'
          ).forEach(input => {
            serializedInputs.push({
              tagName: input.tagName,
              name: input.name,
              type: input.type,
              value: input.value,
              checked: input.checked,
            })
          })
          window.parent.postMessage({
            type: 'inputs_serialized',
            inputs: serializedInputs,
          }, '*');
        }
      })
    </script>
  </body>
</html>
