
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <%- include('../partials/mathjax'); %>
    <%- extraHeadersHtml %>
  </head>
  <body style="overflow-y: hidden;">
    <div id="question-wrapper">
      <div class="card-body">
        <%- questionHtml %>
      </div>
    </div>
    <script>
      const resizeObserver = new ResizeObserver(function (entries) {
        const height = entries[0].contentRect.height;
        console.log('resized');
        window.parent.postMessage({
          type: 'resize',
          id: 'question-iframe',
          height: height,
        }, '*');
      });
      resizeObserver.observe(document.querySelector('#question-wrapper'));
    </script>
  </body>
</html>
